h1 {
    color: lightgreen;
}

p.header_note {
    font-size: 20px;
    font-weight: bold;
    background-color: red;
    color: white;
    padding: 0.5%;
}

.about_me_view {
    background-color: lightseagreen;
    padding: 0.5%;
    margin-bottom: 1%;
}

.news_item {
    background-color: lightslategray;
    padding: 0.25%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.news_view {
    background-color: aquamarine;
    padding: 0.5%;
}